.navmenu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 10px;
    background: #FFF;
    border-radius: 20px;
    box-shadow: 3px 2px 3px #444;

    .home {
        margin-top: 5px;
    }

    .notif {
        img {
            position: relative;
        }

        span {
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #D97014;
        }
    }

    .home, .cart, .profile, .notif {

        cursor: pointer;

        img {
            width: 27px;
            height: 27px;
        }

        &.selected {
            padding: 12px 19px;
            background: linear-gradient(97.57deg, rgba(217, 112, 20, 0.1) 0%, rgba(177, 96, 25, 0.1) 103.03%);

        }
    }
}