.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 5px;

    .mid {
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;

        span {
            font-size: 12px;
            line-height: 22px;
        }
    }

    img {
        cursor: pointer;
    }
}