.meal-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-bottom: 10px;

    .popular-order {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-weight: bold;
        }

        span {
            font-size: 12px;
            cursor: pointer;
        }
    }

    .card {
        display: flex;
        gap: 10px;
        box-shadow: 0px 1px 1px #D97014;
        cursor: pointer;
        padding: 5px;

        img {
            height: 62px;
            width: 62px;
        }

        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 5px;

            .price {
                color: #D97014;
            }

            .item {
                display: flex;
                flex-direction: column;
                gap: 10px;

    
                p {
                    font-weight: bold;
                }

                span {
                    color:#1E1E1EB2;
                    font-size: 13px;
                }
            }
        }
    }
}

