.slider-container {
    margin-bottom: 30px;

    img {
        object-fit: cover;
        width: 100%;
    }

    .slick-dots li button:before {
        font-size: 15px;
        color: #D97014;
        width: 13px;
        height: 13px;

    }

    
    
}